<div id="forgot-pass" class="reglog password_new">
  <h2>Reset Your Password</h2>
  <h4>Enter your E-Mail address below:</h4>
  <div id="forgot_pass_container">
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <div>
      <%= f.email_field :email %></p>
      <%= f.submit :Reset %>
    </div>
  <% end %>
  </div>
</div>
