<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password, and you can do this through the link below.</p>

<% if @resource.access_token != nil %>
<p>This account is registered with facebook.</p>
<p><%= link_to 'Add a password to the account', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>
<% else %>
<p><%= link_to 'Reset Password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>
<% end %>



<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
